p {
  font-size: 1.2em;
  text-align: center;
}

h1 {
  font-size: 1.7em;
  text-align: center;
}

body {
  background-color: #94C5FF;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}